/* Fonts */

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --disabled-field-feedback: #f6dada;
  --background-field-feedback: #f2f2f2;
  --background-hover-field-feedback: #eaeaea;
  --disabled-input-filter: #a6a6a6;
  --slider-price-filter: #c4c4c4;
  --background-pagination: #ebebeb;
  --button-pagination: #d9d9d9;
  --footer-decorative-element: #ffc600;
  --transparency: transparent;
}

/* Global */

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Trebuchet MS", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Header */

.page-header {
  margin-bottom: 40px;
  background: linear-gradient(
      var(--basic-white) 20px,
      var(--special-yellow) 20px
      );
}

.header-wrapper {
  margin: 0 60px;
}

.logo {
  width: 163px;
  height: 35px;
}

.logo--indent {
  margin-bottom: 30px;
}

.logo__link:hover,
.logo__link:focus {
  opacity: 0.6;
}

.logo__link:active {
  opacity: 0.3;
}

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* Search */

.search__input {
  font: inherit;
  background-color: var(--transparency);
}

.search__input::placeholder {
  opacity: 0.3;
}

.search__input:hover::placeholder {
  opacity: 0.6;
}

.search__input:focus {
  color: var(--basic-black);
}

.search__input:focus + .search__button {
  font: inherit;
  color: var(--basic-black);
  background-color: var(--transparency);
  text-transform: uppercase;
}

.search__input:focus + .search__button:hover,
.search__button:active {
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-black);
  text-transform: uppercase;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Personal list */

.personal-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.personal-list--header-align {
  justify-content: space-between;
  width: 500px;
}

.personal-list__item--indent {
  margin-left: auto;
  margin-right: 63px;
}

.personal-list__item--username {
  margin-right: 20px;
}

.personal-list__link {
  color: var(--basic-black);
}

.personal-list__link:hover,
.personal-list__link:focus {
  opacity: 0.6;
}

.personal-list__link:active {
  opacity: 0.3;
}

.personal-list__link--exit {
  color: rgba(0, 0, 0, 0.3);
}

/* Navigation */

.menu-list,
.menu-list__submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list__submenu {
  margin-bottom: 46px;
  padding-top: 12px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-list--header-align {
  justify-content: space-between;
}

.menu-list__link {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu-list__link {
  margin-bottom: 18px;
}

.menu-list__link,
.submenu-list__link {
  display: block;
  color: var(--basic-black);
}

.menu-list__link:hover,
.menu-list__link:focus,
.submenu-list__link:hover,
.submenu-list__link:focus {
  opacity: 0.6;
}

.menu-list__link:active,
.submenu-list__link:active {
  opacity: 0.3;
}

.submenu-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 61px;
  row-gap: 20px;
}

.submenu-list__item:nth-child(-n+3) {
  grid-column: 1/2;
}

.submenu-list__item:nth-child(n+4):nth-child(-n+5) {
  grid-column: 2/3;
}

.submenu-list__item:nth-child(4) {
  grid-row: 1/2;
}

.submenu-list__item:nth-child(5) {
  grid-row: 2/3;
}

.submenu-list__item:nth-child(6) {
  grid-column: 3/4;
  grid-row: 1;
}

/* Main */

.page-main {
  margin-bottom: 80px;
}

/* Sliders */

.sliders {
  margin-bottom: 80px;
}

.slide {
  display: flex;
}

.slide__img,
.slide-wrapper {
  margin-left: auto;
}

.slide-wrapper {
  width: 560px;
}

.slide__number {
  margin: 0;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 179px;
  line-height: 219px;
  font-weight: 800;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--special-yellow);
}

.slide__title {
  margin: 0;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
}

/* Button */

.button {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background: none;
  background-image: linear-gradient(to top,
    var(--transparency) 16px,
    var(--special-yellow-dark) 16px,
    var(--special-yellow-dark) 24px,
    var(--transparency) 24px,
    var(--transparency) 40px);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--special-yellow-dark);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

/* Slider Table */

.slide__table-main {
  display: flex;
  flex-direction: column;
}

.slide__table-row-title {
  order: 1;
}

.slide__table-cell,
.slide__table-title {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.slide__table-cell {
  font-size: 36px;
  line-height: 42px;
}

.slide__table-title {
  font-size: 13px;
  line-height: 15px;
}

/* Popular list products */

.popular-products {
  margin-bottom: 50px;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-list__link {
  display: block;
  width: 160px;
  height: 160px;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: var(--basic-black);
  background-color: var(--special-yellow);
  letter-spacing: 0.05em;
}

.popular-list__link:hover,
.popular-list__link:focus {
  background-color: var(--special-yellow-dark);
}

.popular-list__link:active {
  opacity: 0.3;
}

/* Services */

.services {
  margin-bottom: 90px;
  background-color: var(--basic-grey-light);
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.services-controls__label:active,
.services-controls__input[id="service-1"]:checked ~ .services-controls__title label[for="service-1"],
.services-controls__input[id="service-2"]:checked ~ .services-controls__title label[for="service-2"],
.services-controls__input[id="service-3"]:checked ~ .services-controls__title label[for="service-3"] {
  color: var(--special-yellow);
  background: var(--basic-black);
}

.service__title,
.about__title,
.contacts__title {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.service__desc {
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* Brands */

.brands {
  margin-bottom: 90px;
}

.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-list__item {
  width: 260px;
  height: 100px;
}

.brands-list__link {
  display: block;
  width: inherit;
  height: inherit;
}

.brands-list__item--dji-color:hover,
.brands-list__item--dji-color:focus,
.brands-list__link--dji-color:hover,
.brands-list__link--dji-color:focus {
  background-image: url("../img/brand/logo-1.png");
}

.brands-list__item--gadjet-color:hover,
.brands-list__item--gadjet-color:focus,
.brands-list__link--gadjet-color:hover,
.brands-list__link--gadjet-color:focus {
  background-image: url("../img/brand/logo-2.png");
}

.brands-list__item--gopro-color:hover,
.brands-list__item--gopro-color:focus,
.brands-list__link--gopro-color:hover,
.brands-list__link--gopro-color:focus {
  background-image: url("../img/brand/logo-3.png");
}

.brands-list__item--vive-color:hover,
.brands-list__item--vive-color:focus,
.brands-list__link--vive-color:hover,
.brands-list__link--vive-color:focus {
  background-image: url("../img/brand/logo-4.png");
}

/* About, Contacts */

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about__title,
.contacts__title {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about__text,
.contacts__text {
  margin: 0;
  margin-bottom: 40px;
  line-height: 28px;
}

.about__text--indent {
  margin-bottom: 60px;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-list--indent {
  margin-bottom: 84px;
}

.about-list__item {
  margin-bottom: 11px;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
}

.contacts__link {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 85px;
}

.button--about {
  padding-left: 24px;
  padding-right: 18px;
}

.button--contacts {
  padding-left: 40px;
  padding-right: 40px;
}

/* Catalog */

.page-main-catalog {
  display: grid;
  grid-template-columns: 330px 1fr;
  align-content: start;
}

.catalog-grid {
  grid-column: 1/-1;
}

.catalog-wrapper {
  padding-left: 60px;
}

.page-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  margin-right: 20px;
}

.breadcrumbs__item--current {
  margin-right: 0;
}

.breadcrumbs__link,
.breadcrumbs__item--current {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

/* Filter */

.catalog-filter {
  position: relative;
  grid-row: 2/4;
}

.catalog-filter::before {
  position: absolute;
  top: 0;
  right: 100%;
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.catalog-filter,
.sorting {
  padding-top: 25px;
  background-color: var(--basic-grey-light);
}

.catalog-filter__title,
.sorting__title {
  margin: 0;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.catalog-filter__title {
  margin-bottom: 95px;
}

/* Form Catalog */

.form__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.form__fieldset {
  border: none;
}

.price-selection__input {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  background-color: var(--transparency);
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
}

.form__item {
  margin-bottom: 20px;
}

/* Sorting Catalog */

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-left: 72px;
}

.sorting__title {
  margin-right: 74px;
  margin-bottom: 25px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

.sorting-list__item {
  margin-right: 30px;
}

.sorting-list__item--indent {
  margin-left: auto;
  margin-right: 16px;
}

.sorting-list__item:last-child {
  margin-right: 0;
}

.sorting-list__link {
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-list__link:hover,
.personal-list__link:focus {
  opacity: 0.6;
}

.sorting-list__link:active,
.sorting-list__link--active {
  opacity: 1;
}

/* Product Card */

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-left: 72px;
  margin-bottom: 80px;
}

.product-card {
  position: relative;
}

.product-card__mark {
  position: absolute;
  content: "";
  top: 29px;
  right: 27px;
}

.mark {
  width: 60px;
  height: 60px;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 12px;
  line-height: 60px;
  font-weight: 800;
  color: var(--basic-black);
  border: 2px solid var(--basic-black);
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0.3;
}

.mark--hidden {
  display: none;
}

.product-card__img {
  width: 360px;
  height: 380px;
  margin-bottom: 30px;
  background-color: var(--basic-grey-light);
}

.product-card__link {
  width: 270px;
  color: var(--basic-black);
}

.product-card__desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  letter-spacing: 0.05em;
}

.product-card__title {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.product-catd__price {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}

.compare-btn {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  border: none;
  background-color: var(--transparency);
  opacity: 0.5;
}

.compare-btn:hover,
.compare-btn:focus {
  opacity: 1;
}

.compare-btn:active {
  opacity: 0.2;
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  background-color: var(--background-pagination);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.pagination-list__item {
  margin-right: 30px;
}

.pagination-list__item:first-child,
.pagination-list__item:last-child {
  margin-right: 0;
}

.pagination-list__item--indent {
  margin-left: auto;
}

.pagination-list__link--prev-next {
  display: block;
  padding: 25px 30px;
}

.pagination-list__link--prev-next:hover,
.pagination-list__link--prev-next:focus,
.pagination-list__link--prev-next:active {
  background-color: var(--button-pagination);
}

.pagination-list__link--prev-next:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list__link--number {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list__link--number:hover,
.pagination-list__link--number:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-list__link--number:active {
  color: var(--basic-black);
}

.pagination-list__link--active {
  color: var(--basic-black);
}

/* Footer */

.page-footer {
  background-color: var(--basic-dark);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Footer Logo Container */

.footer-container-logo {
  padding-top: 64px;
}

.logo--footer-indent {
  margin-bottom: 40px;
}

.footer-address {
  font-style: normal;
  color: var(--basic-white);
}

/* Footer Social Container */

.footer-container-social {
  justify-self: center;
  width: 423px;
  padding-top: 138px;
  padding-bottom: 65px;
  text-align: center;
}

.menu-list--footer-align {
  justify-content: space-between;
  margin-bottom: 67px;
}

.menu-list__link--footer {
  color: var(--basic-white);
}

.menu-list__link--footer:hover,
.menu-list__link--footer:focus {
  opacity: 0.6;
}

.menu-list__link--footer:active {
  opacity: 0.3;
}

/* Social */

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__link {
  color: var(--basic-white);
}

.social-list__icon {
  fill: var(--basic-white);
  fill-opacity: 0.3;
}

.social-list__link:hover,
.social-list__link:focus {
  opacity: 0.6;
}

.social-list__link:active {
  opacity: 0.1;
}

/* Footer Info Container */

.footer-container-info {
  position: relative;
  justify-self: end;
  padding-top: 46px;
  text-align: right;
}

.personal-list--footer-align {
  position: absolute;
  left: -280px;
  width: 480px;
  justify-content: space-between;
}

.personal-list__link--footer {
  color: var(--basic-white);
  opacity: 0.7;
}

.personal-list__link--footer:hover,
.personal-list__link--footer:focus {
  opacity: 1;
}

.personal-list__link--footer:active {
  opacity: 0.3;
}

.footer-phone {
  display: block;
  margin-bottom: 68px;
  padding-top: 92px;
  color: var(--basic-white);
}

.layout-developer {
  display: block;
  color: var(--special-yellow-dark);
}

/* Modal */

.modal {
  width: 960px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.feedback-form__label {
  font-family: "Gilroy", "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.feedback-form__input,
.feedback-form__textarea {
  font: inherit;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  background-color: var(--background-field-feedback);
  border: none;
}

.feedback-form__input::placeholder,
.feedback-form__textarea::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.feedback-form__input:hover {
  background-color: var(--background-hover-field-feedback);
}

.feedback-form__input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-yellow);
  outline: none;
}

.feedback-form__input:invalid {
  background-color: var(--disabled-field-feedback);
  border: none;
}


